<section>
    <h3>TODOLIST</h3>
    <p>todolist works!</p>

    <P>MANIPULATION D4UN TABLEAU</P>

    <ol>
        <li>Pour ajouter une valeur : myArray.push(value)</li>
        <li>Pour supprimer une valeur : myArray.splice(index, quantité)</li>
    </ol>

    <input type="text" #input (keyup.enter)="addItemsTab()" [(ngModel)]="message">
    <button (click)="addItemsTab()">Ajouter</button>
    <ul>
        <li *ngFor="let name of tab ; index as key" (click)="deleteItemsTab(key)" >
            {{ name }} <small> ({{ key }}) </small>
        </li>
    </ul>

</section>
