<p>presentation works!</p>

<h3>Affichage</h3>

<p> Hello {{ name }}</p>

<p>Cette {{ product.name }} coute {{ product.price }} €</p>

<p> {{ html }} </p>

<!-- syntaxe [] = directive -->
<p>[innerHTML]="html"</p>

<p>
    <small>
        Tous les attributs HTML,
        exisette sous la forme directive Angular <br>
        HTML = &lt;p id="test"&gt; ... &lt;/p&gt; <br>
        Angular = &lt;p [id]="test"&gt; ... &lt;/p&gt; <br>
    </small>
</p>

<!-- <img src="{{ img }}" alt="image sous html" -->
<!-- <img [src]="img " alt="image sous Angular" -->




<section>
    <h3>Les Evenements</h3>

    <button (click)="clicked()" >Cliquez ici</button>


    <p>
        <a href="#" (click)="confirmation($event)" >Confirmez</a>
    </p>

    <!-- Single Page Application -->
    <!-- Application de type spa charge toute les vus avec 1 seul page html -->
    <!-- 
        Par conséquence la page html, doit être recharger le moins souvent possible,
        Donc on récupère l'evenement, puis event.preventDefault, et on fait notre code
     -->
</section>

<section>
    <h3>Two way data binding</h3>

    <p>ngModel</p>

    <input type="text" placeholder="entrer votre message " [(ngModel)]="message">
    <button (click)="displayMessage()">voir le message</button>
    <p>{{ message }}</p>
</section>

<section>
    <h3>variable de template</h3>

    <p>#nom_de_variable </p>
    <p>detecChange() = responsable de la mise à jour de la vue</p>
    <ul>
        <li>Event</li>
        <li>ngModel</li>
        <li>Formulaire (event)</li>
    </ul>

    <input type="text" placeholder="Entrer votre message " #input (keyup.enter)="0" />
    <dl>
        <dt>Type :</dt>
        <dd>{{ input.type }}</dd>
        <dt>Placeholder :</dt>
        <dd>{{ input.placeholder }}</dd>
        <dt>Value :</dt>
        <dd>{{ input.value }}</dd>
    </dl>


</section>

<section>
    <h3>ngFor (ngForOf)</h3>

    <ul>
        <li *ngFor="let name of liste; index as key" >
            {{ name }} <small> ({{ key }}) </small>
        </li>
    </ul>
</section>

